body {background-color:white;}
h1{color:blue;}
h2{color:black;}
font family : Verdana
}

.maindiv{
color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin:auto
    text-indent: 50px;
  letter-spacing: 2px;
  white-space: normal;
   Line-height:1.8px;
}
