body {background-color:white;}
h1{color:powderblue;}
h2{color:black;}
font family : Verdana
}

.maindiv{
color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin:auto
   Line-height:1.8; 
}
